@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slide{
  display:flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.nav{
  z-index: 999;
  background-color: white;
  animation: 0.6s ease-out normal fixedAnim;
 position: fixed;
 left :0;
 right:0;
 top:0;
}
@keyframes fixedAnim{
  0%{
    top:-100%;
  }
  100%{
    top:0;
  }
}
.ant-drawer-content-wrapper{
  width:208px !important;
}